<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sensor Log</title>
    <link rel="stylesheet" href="/styles/main.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>
<body>
<div id="header-div">
    <form th:action="@{/logout}" method="post">
        <label th:inline="text">Logged in as [[${#httpServletRequest.remoteUser}]]</label>
        <input type="submit" value="Sign Out"/>
    </form>
    <h1>Sensor Log</h1>
</div>
<div id="error-div">
    <p id="input-error-p"></p>
</div>
<div id="content-limit-form-div">
    <form id="content-limit-form">
        <p><span id="content-limit-form-span">Show
                <input id="content-limit-input" type="number" min="1" max="1000"
                       value="100" placeholder="100">
                row(s)
                <button id="content-limit-button">Filter</button>
            </span>
            <span id="data-row-count-span" th:inline="text">Showing [[${sensorDataList.size()}]] rows</span>
        </p>
    </form>
</div>
<div id="last-update-div"></div>
<div id="data-div">
    <table id="data-table">
        <tr>
            <th>Device</th>
            <th>Reading Time (<span th:text="${#dates.format(#calendars.createToday(), 'z')}"></span>)</th>
            <th>Temperature (&deg;F)</th>
            <th>Humidity (%)</th>
            <th>Light Level</th>
            <th>Sound Level</th>
        </tr>
        <tr  th:each="sensorData: ${sensorDataList}">
            <td th:text="${sensorData.device}"/>
            <td th:text="${sensorData.readingTime}"/>
            <td th:text="${sensorData.temperature}"/>
            <td th:text="${sensorData.humidity}"/>
            <td th:text="${sensorData.light}"/>
            <td th:text="${sensorData.sound}"/>
        </tr>
    </table>
</div>
<script src="/scripts/main.js"></script>
</body>
</html>